.form-background {
    background-image: url("../../../public/assets/images/uob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    height: 100vh;
    position: fixed;
    width: 100vw;
    filter: grayscale(100%) brightness(60%) blur(2px);
}